<%- include('./partials/header') -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>
<% posts.forEach((post) => { %>
    <h1><%= post.postTitle %></h1>
    <% let body = post.postBody; %>
        <% if(body.length>150) { %>
            <p><%= body.substr(0,150)+"... " %>
                <a href="/posts/<%= post.postTitle %>">Read More</a>
            </p>
        <% } else { %>
            <p><%= body %></p>
        <% } %>
<% }); %>
<%- include('./partials/footer') -%>