<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= header %></h1>
    </div>
    <div class="box">
        <% newItems.forEach( item => { %>
            <form method="POST" action="/delete">
                <div class="item">
                    <p><%= item.name %></p>
                    <div class="operations">
                        <!-- hidden input elemen to post data -->
                        <input type="text" style="display: none" 
                            name="id" 
                            value="<%= item._id %>">

                        <!-- Icons -->
                        <i class="crud-icon update fas fa-pen"></i>
                        <i class="crud-icon delete fas fa-trash-alt"></i>
                        <i class="crud-icon cross fas fa-times"></i>
                    </div>
                </div>
            </form>
        <% }); %>
    </div>
    <div class="box">
        <form class="new" method="POST" action="/">
            <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
            <button type="submit" name="listType" value= <%= header %> >+</button>
        </form>
    </div>
<%- include("footer") -%>